<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5"> 

    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/partials/page-sucess.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-landing">
    <div id="container">
        <div class="page-container">
            <img src="/images/icons/success-check-icon.svg" alt="icone de sucesso">
            <h2>Cadastro Salvo!</h2>
            <p>Tudo certo, seu cadastro está na nossa lista de professores.<br>Agora é só ficar de olho no seu Whatsapp.</p>
        </div>
        <div class="hero-image">
            <img src="/images/success-background.svg" alt="Pagina de sucesso">
        </div>
        <div class="buttons-container">
            <a class="give-classes" href="/save-classes">
                Acessar a lista
            </a>
        </div>
    </div>
</body>
</html>